In [2]:
import pandas as pd

In [7]:
# Utility functions
def get_season(date):
    """
    Get the season for a given date.

    Parameters:
    - date: datetime object

    Returns:
    - season: str
    """
    if pd.isnull(date):
        return None
    
    month = date.month

    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Autumn'
    else:
        return 'Winter'
    
def get_time_of_day(date):
    """
    Determines if it's day or night (0, 1)

    Parameters:
    - date: datetime object

    Returns:
    - time_day: str
    """
    if pd.isnull(date):
        return 'night'

    hour = date.hour

    day_threshold = 6 
    night_threshold = 22

    if day_threshold < hour < night_threshold:
        return 'day'
    else:
        return 'night'
  
def temperature_label(temperature):
    """
    Get temperature range for a given temperature.

    Parameters:
    - temperature: float

    Returns:
    - temperature_label: str
    """
    if pd.isnull(temperature):
        return None
    
    if temperature < -10:
        return "Extremely Cold"
    elif -10 <= temperature < 0:
        return "Cold"
    elif 0 <= temperature < 5:
        return "Cool"
    elif 5 <= temperature < 10:
        return "Slightly Warm"
    elif 10 <= temperature < 15:
        return "Moderate"
    elif 15 <= temperature < 20:
        return "Warm"
    elif 20 <= temperature < 25:
        return "Very Warm"
    elif 25 <= temperature < 30:
        return "Hot"
    elif 30 <= temperature < 35:
        return "Very Hot"
    elif 35 <= temperature < 40:
        return "Extremely Hot"
    else:
        return "Exceptionally Hot"
    
def classify_animal(animal):
    groups = {
        # Mammals
        # "mammal": ["porcupine", "wild boar", "marten", "badger", "fox", "wolf", "dog", "cat", "hare", "deer", "horse", "squirrel"],
        
        # Birds
        "bird": ["buzzard", "heron", "mallard"],
        
        # Water animals
        "water_animal": ["mallard", "heron"],
        
        # Predatory animals
        "predatory_animal": ["fox", "wolf", "buzzard"],
        
        # Domestic animals
        "domestic_animal": ["dog", "cat", "horse"],
        
        # Herbivores
        "herbivore": ["porcupine", "wild boar", "hare", "deer", "horse", "squirrel"],
        
        # Night Animals
        "night_animal": ["fox", "wolf", "hare", "badger"],
        
        # Size Classification
        "size": ["xs", "s", "m", "l"]
    }
    
    # Define size boundaries
    size_boundaries = {
        "xs": ["mallard", "buzzard", "porcupine", "marten", "cat", "hare", "squirrel"],
        "s": ["fox", "cat", "badger"],
        "m": ["heron", "dog", "wild boar","deer", "wolf"],
        "l": ["horse"]
    }
    
     # Classify based on size
    size_group = next((size for size, animals in size_boundaries.items() if animal.lower() in animals), None)
    
    # Classify based on other groups
    animal_groups = {group: 1 if animal.lower() in animals else 0 for group, animals in groups.items()}
    
    # Add size group to the result
    animal_groups["size"] = size_group
    
    return animal_groups

In [1]:
# Directories
dataset = "../../datasets"

In [3]:
df = pd.read_pickle(dataset + '/animals.pkl')

In [4]:
df.head()

,image_name,camera,date_time,date,time,moon,temp,sha-256,label1,label2,label3
0,TF_ACULEI_8040_DSCF0129.jpg,1.0,2021-07-22 23:04:07,2021-07-22,23:04:07,Full Moon,25.0,00917733a6aa7e574a2da861dc75b70f5e38db45b50983...,wild boar,NaN,NaN
1,TF_ACULEI_900_DSCF0756.jpg,1.0,2021-05-27 22:01:44,2021-05-27,22:01:44,Full Moon,16.0,01b46bf7f72f5ecd35669d876892619192c50771d44949...,wild boar,NaN,NaN
2,TF_ACULEI_15294_DSCF0133.jpg,6.0,2023-03-30 20:35:58,2023-03-30,20:35:58,First Quarter,9.0,a4080d64cc86785ee8ab82468db78b14e4ddb9838faef6...,porcupine,badger,fox
3,TF_ACULEI_11374_DSCF0064.jpg,6.0,2022-06-09 21:29:59,2022-06-09,21:29:59,Waxing Gibbous,15.0,314a99154f1709a8a6ac99069b1af4cebf0cc9df089ce4...,fox,porcupine,wild boar
4,TF_ACULEI_4106_DSCF4336.jpg,1.0,2021-06-16 23:41:09,2021-06-16,23:41:09,First Quarter,19.0,f1c6a3c629f9fb55975f6e02eeeccbd708477ddcf574e5...,fox,None,None

In [9]:
# Rearrange the dataset
df['date_time'] = pd.to_datetime(df['date_time'])

df['season'] = df['date_time'].apply(get_season)

df.drop(columns=['date', 'time', 'image_name', 'camera', 'sha-256'])

,date_time,moon,temp,label1,label2,label3,season
0,2021-07-22 23:04:07,Full Moon,25.0,wild boar,NaN,NaN,Summer
1,2021-05-27 22:01:44,Full Moon,16.0,wild boar,NaN,NaN,Spring
2,2023-03-30 20:35:58,First Quarter,9.0,porcupine,badger,fox,Spring
3,2022-06-09 21:29:59,Waxing Gibbous,15.0,fox,porcupine,wild boar,Summer
4,2021-06-16 23:41:09,First Quarter,19.0,fox,None,None,Summer
...,...,...,...,...,...,...,...
16869,2021-06-15 23:51:35,First Quarter,20.0,wild boar,None,None,Summer
16870,2021-04-20 01:01:29,First Quarter,NaN,deer,None,None,Spring
16871,2021-06-15 22:50:03,First Quarter,20.0,wild boar,None,None,Summer
16872,2021-06-18 00:07:35,First Quarter,20.0,wild boar,None,None,Summer
16873,2022-07-23 19:20:39,Waning Crescent,32.0,wild boar,None,None,Summer